@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

body
{
    font-family: 'Quicksand', sans-serif;
    background:linear-gradient(180deg, #2E3440 19%, #4C566A 73%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


  

.card1 {
    width: 250px;
    height: 400px;
    background: rgb(45, 45, 45);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition-duration: 0.5s;
    border-radius: 20px;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
   }
   
   .title {
    text-align: center;
    margin-top: 0.5em;
    font-weight: bold;
    font-size: x-large;
    color: rgb(200,200,200);
   }
   
   .pricecontainer {
    width: 100%;
    margin-top: 0.7em;
    background-color: rgb(30,30,30);
    box-shadow: inset 0px 0px 2em rgba(0, 0, 0, 0.3);
   }
   
   .price {
    text-align: center;
    color: rgb(180,180,180);
    font-size: x-large;
    font-weight: bold;
    padding: 0.75em 0 0 0;
   }
   
   .pricedescriptor {
    text-align: center;
    color: rgb(118, 118, 118);
    font-size: medium;
    padding: 0 0 1em 0;
   }
   
   .includes {
    text-align: center;
    color: rgb(110, 110, 110);
    margin-top: 0.6em;
    font-size: small;
    font-weight: bold;
   }
   
   .benefitlist li {
    color: rgb(150,150,150);
    font-size: small;
    text-align: center;
   }
   
   .benefitlist li:nth-child(1) {
    margin-top: 0.4em;
   }
   
   .btncontainer {
    text-align: center;
   }
   
   .btncontainer button {
    margin-top: 1em;
    padding: 0.5em 0.8em 0.5em 0.8em;
    border-style: none;
    border-radius: 1000000px;
    color: rgb(239, 239, 239);
    font-weight: bold;
    background-image: linear-gradient(45deg, #88C0D0 0%, #5E81AC 100%);
    transition: box-shadow 0.15s ease-in-out;
   }
   
   .btncontainer button:hover {
    box-shadow: inset 0px 0px 5px rgb(0,0,0);
    transition: box-shadow 0.15s ease-in-out;
   }
  





   .card2 {
    width: 250px;
    height: 400px;
    background: rgb(45, 45, 45);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition-duration: 0.5s;
    border-radius: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
   
   .title {
    text-align: center;
    margin-top: 0.5em;
    font-weight: bold;
    font-size: x-large;
    color: rgb(200,200,200);
   }
   
   .pricecontainer {
    width: 100%;
    margin-top: 0.7em;
    background-color: rgb(30,30,30);
    box-shadow: inset 0px 0px 2em rgba(0, 0, 0, 0.3);
   }
   
   .price {
    text-align: center;
    color: rgb(180,180,180);
    font-size: x-large;
    font-weight: bold;
    padding: 0.75em 0 0 0;
   }
   
   .pricedescriptor {
    text-align: center;
    color: rgb(118, 118, 118);
    font-size: medium;
    padding: 0 0 1em 0;
   }
   
   .includes {
    text-align: center;
    color: rgb(110, 110, 110);
    margin-top: 0.6em;
    font-size: small;
    font-weight: bold;
   }
   
   .benefitlist li {
    color: rgb(150,150,150);
    font-size: small;
    text-align: center;
   }
   
   .benefitlist li:nth-child(1) {
    margin-top: 0.4em;
   }
   
   .btncontainer {
    text-align: center;
   }
   
   .btncontainer button {
    margin-top: 1em;
    padding: 0.5em 0.8em 0.5em 0.8em;
    border-style: none;
    border-radius: 1000000px;
    color: rgb(239, 239, 239);
    font-weight: bold;
    background-image: linear-gradient(45deg,  #88C0D0 0%, #5E81AC 100%);
    transition: box-shadow 0.15s ease-in-out;
   }
   
   .btncontainer button:hover {
    box-shadow: inset 0px 0px 5px rgb(0,0,0);
    transition: box-shadow 0.15s ease-in-out;
   }
  







   .card3 {
    width: 250px;
    height: 400px;
    background: rgb(45, 45, 45);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition-duration: 0.5s;
    border-radius: 20px;
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -50%);
   }
   
   .title {
    text-align: center;
    margin-top: 0.5em;
    font-weight: bold;
    font-size: x-large;
    color: rgb(200,200,200);
   }
   
   .pricecontainer {
    width: 100%;
    margin-top: 0.7em;
    background-color: rgb(30,30,30);
    box-shadow: inset 0px 0px 2em rgba(0, 0, 0, 0.3);
   }
   
   .price {
    text-align: center;
    color: rgb(180,180,180);
    font-size: x-large;
    font-weight: bold;
    padding: 0.75em 0 0 0;
   }
   
   .pricedescriptor {
    text-align: center;
    color: rgb(118, 118, 118);
    font-size: medium;
    padding: 0 0 1em 0;
   }
   
   .includes {
    text-align: center;
    color: rgb(110, 110, 110);
    margin-top: 0.6em;
    font-size: small;
    font-weight: bold;
   }
   
   .benefitlist li {
    color: rgb(150,150,150);
    font-size: small;
    text-align: center;
   }
   
   .benefitlist li:nth-child(1) {
    margin-top: 0.4em;
   }
   
   .btncontainer {
    text-align: center;
   }
   
   .btncontainer button {
    margin-top: 1em;
    padding: 0.5em 0.8em 0.5em 0.8em;
    border-style: none;
    border-radius: 1000000px;
    color: rgb(239, 239, 239);
    font-weight: bold;
    background-image: linear-gradient(45deg, #88C0D0 0%, #5E81AC 100%);
    transition: box-shadow 0.15s ease-in-out;
   }
   
   .btncontainer button:hover {
    box-shadow: inset 0px 0px 5px rgb(0,0,0);
    transition: box-shadow 0.15s ease-in-out;
   }
   
   .SH1
   {
    font-size: xx-large;
    color: aliceblue;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
  






